html, body{
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-color: #e4e2e2 !important;
	font-family: "Titillium Web", sans-serif;
	-webkit-font-smoothing: antialiased !important;
}

h1{
	font-family: 'Yellowtail', cursive !important;
} 

h1.larger, h1>.larger{
	font-size: 50px !important;
}

p.larger{
	font-size: 16px !important;
}

.panel {
  position: relative;
}

.panel-footer.experts{
	min-height:150px;
	max-height:150px;
	width: auto;
	overflow: hidden;
  border: 1px solid #FFF;
}

.no-padding{
	padding: 0 !important;
}

.panel-footer.experts:hover{
	z-index: 1000;
	max-height:1000px;
	position: absolute;
	-webkit-transition: max-height .6s ease-in-out .2s;
       -moz-transition: max-height .6s ease-in-out .2s;
         -o-transition: max-height .6s ease-in-out .2s;
            transition: max-height .6s ease-in-out .2s;
}

.text-white{
	color:white;
}

.dashed-line{
	border-top:1px dashed;
}

.dashed-line.gray{
	border-color: gray;
}

.offset-top{
	padding-top: 80px;
}

.col-centered{
	float:none !important;
    margin: 0 auto;
}

.faq_show{
	cursor: pointer;
	font-weight: bold !important;
	font-size: 16px !important;
}

.border-right{
	border-right: 1px solid #ddd;
}

.border-left{
	border-left: 1px solid #ddd;
}

#chalkboard{
	padding-top: 100px;
	background-image:url('../images/bg-nogrid.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	position: fixed;
	top:0;
	height:700px;
	width:100%;
}

.chalkboard_content{
	height:420px;
}

.chalkboard_pushdown{
	height:420px;
	pointer-events:none;

}
.slide>img{
	max-height: 300px;
	margin: 0 auto;
}

#pencil_container{
	height:450px;
}
#pencils{
	width:260px;
	height:100%;
	margin:0 auto;
}

.list-group-item.animation{
	-webkit-transition: max-height .4s ease-in-out;
       -moz-transition: max-height .4s ease-in-out;
         -o-transition: max-height .4s ease-in-out;
            transition: max-height .4s ease-in-out;
}

.list-group-item.collapse{
	max-height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: none;
}

.list-group-item{
	max-height: 500px;
}

.pencil{
	height:100%;
	padding-top:70px;
	-webkit-transition: padding-top .4s ease-in-out;
       -moz-transition: padding-top .4s ease-in-out;
         -o-transition: padding-top .4s ease-in-out;
            transition: padding-top .4s ease-in-out;
}
.pencil:hover{
	padding-top:40px;
	cursor: pointer;
}
#pencils>.active:not(.hovering){
	padding-top: 40px !important;
}
nav{
	height:80px;
	background-color: #eee;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav.day-of{
  background-color: #39b3d7 !important;
}

a.day-of-nav{
  background-color: transparent !important;
}

#nav_text{
	padding-top: 11px;
}

#nav_text.ease{
	-webkit-transition: padding-top .3s ease-in-out;
       -moz-transition: padding-top .3s ease-in-out;
         -o-transition: padding-top .3s ease-in-out;
            transition: padding-top .3s ease-in-out;
}

.circle {
	pointer-events:none;
    height: 10em;
    margin-top:-300px;
    /*left/right position, top/bottom position, shape, color, size, bg color, size*/
    background-image: radial-gradient(circle 225px at 49.6% -80%, transparent 225px, #e4e2e2 225px);
    background-image: -webkit-radial-gradient(49.7% -80%, circle, transparent 225px, #e4e2e2 225px);
}

.fixed{
	position: fixed;
}

#main{
	background-color: #e4e2e2;
}
h4.larger{
	font-size:24px;
	line-height: 2em;
}

.bg-success {
  background-color: #92cf5c;
  color: #fbfdfa;
}

.smaller-logo{
	width:50px;
	padding:10px;
}

.larger-logo{
	width:80px;
	padding:15px;
}

#logo_img.ease{
	-webkit-transition: width .4s, padding .4s ease-in-out;
       -moz-transition: width .4s, padding .4s ease-in-out;
         -o-transition: width .4s, padding .4s ease-in-out;
            transition: width .4s, padding .4s ease-in-out;
}

#logo_text.ease{
	-webkit-transition: font-size .4s ease-in-out;
       -moz-transition: font-size .4s ease-in-out;
         -o-transition: font-size .4s ease-in-out;
            transition: font-size .4s ease-in-out;
}

.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}
.video{
	width:560px;
	float: left
}

.half-spacing{
	line-height: 1.5em;
}

.video-right{
	float: left;
	width: -moz-calc(100% - 570px);
    width: -webkit-calc(100% - 570px);
    width: calc(100% - 570px);
}
.border{
	border: 1px solid black;
}
.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

.timeline-caption>.fixed-width{
	width:70%;
}
.height-full{
	height:1000px;
}

.full-width{
	width:100% !important;
}

.topic_description{
	min-height:700px;
}

.xs-padding{
	padding:8px;
}

.sm-padding{
	padding:15px;
}
.md-padding{
	padding:30px;
}

.circle-bg{
	background-image: 
}

.md-padding-top{
	padding-top:30px;
}

.md-padding-left{
	padding-left:30px;
}

.md-padding-left{
	padding-left:30px;
}

.sm-padding-top{
	padding-top:15px;
}

.sm-margin-left{
	margin-left:15px;
}

.md-margin-right{
	margin-right:30px;
}

.xs-padding-top{
	padding-top:8px;
}

.sm-padding-right{
	padding-right:15px;
}

.sm-padding-left{
	padding-left:15px;
}

.lg-padding{
	padding:50px;
}

.md-padding-bottom{
	padding-bottom:30px;
}
.lg-padding-top{
	padding-top:50px;
}

.lg-padding-bottom{
	padding-bottom:50px;
}

.xlg-padding-bottom{
	padding-bottom:130px;
}
.design_icon{
	padding:9px;
	font-size:22px;
	float:left;
	width: 54px;
	height:54px;
	text-align: center;
	border-radius: 50%;
	border: 4px solid #ddd;
	color:white;
}

.about-circle{
	width:300px;
	height:300px;
	vertical-align: middle;
}

.btn.transparent{
	background-color: rgba(0,0,0,0);
	border: none;
}

.nav-btn-toggle{
  	display: none;
}

.content{
  min-height:700px !important;
}

.border-bottom{
  border-bottom: 1px dashed #ccc;
}
.team-pic{
  width:100%;
  height:200px;
  overflow: hidden;
}
.gallery-column{
  width: calc(20% - 20px);
  float:left;
  margin:10px;
}

@media (max-width: 1170px) {
  #logo_text{
  	display:none;
  }
  .slide>img{
  	height:100%;
  	max-width:1200px !important;
  }
  #nav_text>ul{
  	background-color:white;
  	padding:0;
  	margin:0;
  }
  #nav_text>ul>li{
  	border-top:1px solid #eee;
  }
  .nav-btn-toggle{
  	display: block;
  }
  .panel-footer.experts{
	max-height:1500px;
  }
}